*.pyc
src/faceSpoofDetection/*.pyc

# Ignore directories related to openface
src/models/

src/openface/

# Ignore videos and images
src/*.avi

src/*.jpg

src/*.jpeg

src/*.png

Anti\ face\ spoof/

# Ignore openface implementation
OpenfaceImplementation

# Ignore idea project file
src/.idea


# Ignore databases
Databases/*
src/databases/*


# Ignore known faces
knownfaces/
src/data/

# Ignore saved classifiers and feature vectors
src/faceSpoofDetection/classifiers
src/faceSpoofDetection/featuresVectors/

# Ignore all pyc files
*.pyc

# Ignore mac files
.DS_Store

# Ignore swap files
*.swp
