Implementation/*.pyc
Implementation/faceSpoofDetection/*.pyc

# Ignore directories related to openface
Implementation/models/

Implementation/openface/

# Ignore videos and images
Implementation/*.avi

Implementation/*.jpg

Implementation/*.jpeg

Implementation/*.png

Anti\ face\ spoof/

# Ignore openface implementation
OpenfaceImplementation

# Ignore idea project file
Implementation/.idea


# Ignore databases
Databases/*
Implementation/databases/*


# Ignore known faces
knownfaces/
Implementation/data/

# Ignore saved classifiers and feature vectors
Implementation/faceSpoofDetection/classifiers
Implementation/faceSpoofDetection/featuresVectors/

# Ignore all pyc files
*.pyc

# Ignore mac files
.DS_Store

# Ignore swap files
*.swp
