appdirs==1.4.2
cycler==0.10.0
dask==2021.10.0
decorator==4.0.11
dlib==19.1.0
docopt==0.6.2
funcsigs==1.0.2
functools32==3.2.3.post2
gdbn==0.1
gnumpy==0.2
joblib==1.2.0
matplotlib==2.0.0
mock==2.0.0
networkx==1.11
nolearn==0.5b1
nose==1.3.7
numpy==1.22.0
olefile==0.44
packaging==16.8
pbr==2.0.0
Pillow==9.3.0
protobuf==3.0.0b2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyvlfeat==0.1.1a3
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.14
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==1.10.0
six==1.10.0
subprocess32==3.2.7
tensorflow==2.11.1
toolz==0.8.2
